@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oleo+Script&display=swap");

.app-background {
  background: url("../src/assets/tablecloth-1280.jpg");
  background-size: contain;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}

h2 {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: #004996;
}
